button {
    border: none;
    background-color: #7e3e95;
    color: white;
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 12px;
    float: right;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.home {
    position: fixed;
    top: 10px;
    right: 10px;
}

a {
    text-decoration: none;
    color: aliceblue;
}

body {
    text-align: center;
    background-image: linear-gradient(to right, #311257, #a559a3);
}



h1 {
    color: aliceblue;
}

h2 {
    color: aliceblue;   
}

h3 {
    color: aliceblue;
    margin-left: 10%;
    margin-right: 10%;
}

footer {
    position: fixed;
    bottom: 0;
    left: 10px;
}

p {
    color: aliceblue;
}

label {
    color: aliceblue;
}

input {
    background-color: #7e3e95;
    color: aliceblue;
}