button {
    border: none;
    background-color: #7e93fb;
    color: white;
    padding: 15px;
    font-size: 1.3rem;
    border-radius: 12px;
    float: right;
}

button:hover {
    cursor: pointer;
    opacity: 0.6;
}


a {
    text-decoration: none;
    color: aliceblue;
}

body {
    text-align: center;
    background-color: #456784;
}

h1 {
    color: aliceblue;
}

p {
    color: aliceblue;
}

label {
    color: aliceblue;
}

input {
    background-color: #5bbacb;
    color: aliceblue;
}